body {
	font-family: 'Oswald', sans-serif;
}


/*CSS DO HEADER*/

header {
	background: url("images/background.jpg");
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	width: 115px;
	pointer-events: none;
}

nav {
	position: absolute;
	top:  34px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 20px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 26px;
	transition: 100ms;
	text-decoration: none;
}

nav a:hover {
	color: red;
	transition: 120ms;
	font-size: 28px;
}

nav a:active {
	color: darkred;
}


/* CSS DOS PLANETAS */

.planetas-geral {
	background: linear-gradient(#000000, #13408c, #888888);
}

.planetas {
	width: 940px;
	margin: 0 auto;
	padding: 45px 0;
}

.planetas li {
	display: inline-block;
	text-align: center;
	width: 20.7%;
	vertical-align: top;
	margin: 2% 2%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 15px;
	cursor: pointer;
	background: url("images/background.jpg");
	box-shadow: 10px 10px 10px 0px black;
	transition: 200ms;
}

.mercurio:hover {
	border: 3px solid #7b7b7b;
	box-shadow: 0px 0px 15px 7px #7b7b7b;
	transition: 200ms;
}

.venus:hover {
	border: 3px solid #c48026;
	box-shadow: 0px 0px 15px 7px #c48026;
	transition: 200ms;
}

.terra:hover {
	border: 3px solid midnightblue;
	box-shadow: 0px 0px 15px 7px midnightblue;
	transition: 200ms;
}

.marte:hover {
	border: 3px solid #f17240;
	box-shadow: 0px 0px 15px 7px #f17240;
	transition: 200ms;
}

.jupiter:hover {
	border: 3px solid #c37b3b;
	box-shadow: 0px 0px 15px 7px #c37b3b;
	transition: 200ms;
}

.saturno:hover {
	border: 3px solid #ecd2a9;
	box-shadow: 0px 0px 15px 7px #ecd2a9;
	transition: 200ms;
}

.urano:hover {
	border: 3px solid #cbf1f3;
	box-shadow: 0px 0px 15px 7px #cbf1f3;
	transition: 200ms;
}

.netuno:hover {
	border: 3px solid midnightblue;
	box-shadow: 0px 0px 15px 7px midnightblue;
	transition: 200ms;
}

.planetas li:active {
	border: 3px solid red;
	box-shadow: 0px 0px 15px 7px darkred;
	transition: 200ms;
}

.planetas li:hover h2 {
	font-size: 30px;
	transition: 200ms;
}

.planetas li a {
	text-decoration: none;
}

.planetas li img {
	width: 100%;
	margin: 10px 0;
}

.planetas h2 {
	color: white;
	text-align: center;
	font-size: 26px;
	transition: 200ms;
	font-weight: bold;

}

.descricao-planeta {
	color: white;
	font-size: 22px;
}

.ano-solar {
	color: white;
	font-size: 23px;
	font-weight: bold;
	margin-top: 10px;
}



/* CSS DO INDEX*/

.banner {
	width: 940px;
	margin: 0 auto;
}

.banner img {
	width: 100%;
}


/* index | section sistema-sobre */
.sistema-sobre {
	padding-top: 30px;
	background: linear-gradient(white, black);
}

.principal {
	padding: 2.5em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	font-size: 1.35em;
	text-align: justify;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.titulo-principal {
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.via-lactea {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.video-sistema {
	width: 560px;
	margin: 0 auto;
	padding-bottom: 60px;
}


/* index | section local */
.local {
	padding: 3em 0;
	background: url("images/background.jpg"); /**linear-gradient(white, #3a4a75, black, #010010);*/
}

.local h3 {
	color: white;
}

.local p {
	margin: 0 0 2em;
	text-align: center;
	font-size: 1.8em;
	color: white;
	font-weight: bold;
}

.imagem-terra {
	width: 940px;
	margin: 0 auto;
}

.imagem-terra img {
	width: 100%;
	border-radius: 10px;
	padding-bottom: 80px;
}

/* index | section camadas-terra */
.camadas-terra {
	padding: 7em 0;
	background: black;
}

.conteudo-camadast {
	width: 640px;
	margin: 0 auto;
	padding: 15px;
	border-style: double;
	border: 1px solid white;
	background: url("images/background.jpg");
}

.conteudo-camadast h3 {
	color: white;
}

.lista-camadast {
	width: 55%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
	font-size: 1.2em;
	color: white;
}

.itens:last-child {
	font-weight: bold;
}

.itens:before {
	content: "★ ";
}

.camada-cinza {
	color: #505257;
}

.camada-laranja {
	color: #ef4020;
}

.camada-amarelo {
	color: #f28f14;
}

.camada-amareloclaro {
	color: #f8f57a;
}

.imagem-camadast {
	padding: 0 30px;
	width: 33%;
	opacity: 1;
	transition: 400ms;
}

.imagem-camadast:hover {
	width: 35%;
}

/* index | section camadas-geral */
.camadas-geral {
	background: linear-gradient(#000000 1%, #010010, #2e75b5, #9dc3e7, #8298b0, #adb8ca);
}

.camadas-geral h4 {
	padding-top: 15px;
	color: white;
	font-size: 2.5em;
	text-transform: uppercase;
}

.camadas {
	padding: 3em 0;
	width: 100%;
	margin: 0 auto;
}

.camadas div:not(#troposfera) {
	padding-bottom: 220px;
}

.camadas h1 {
	text-shadow: 2px 2px black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.descricao-camada {
	text-align: center;
	font-size: 1.8em;
	color:  white;
	text-shadow: 2px 2px black;
	font-weight: bold;
}

/* index | section espaco-geral */
.espaco-geral {
	background: #adb8ca;
}

.espaco {
	width: 940px;
	margin: 0 auto;
}

.onibus {
	width: 100%;
}



/* CSS DA PÁGINA DE CONTATO */

.principal-contato {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin-bottom: 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0px;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	background: lightgray;
	border: 1px solid black;
	border-radius: 5px;
	transition: 0.1s all;
	cursor: pointer;
}

.enviar:hover {
	background: green;
}

table {
	margin: 20px 0 40px;
	box-shadow: black 0px 0px 4px 1px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid black;
	padding: 8px 15px;
}



/* CSS DO FOOTER */

footer {
	text-align: center;
	background: #1C1C1C;
	padding: 30px 0;
}

.info-dev {
	margin: 30px 0;
}

.info-dev h1 {
	margin: 5px 0;
	color: white;
	font-size: 20px;
	text-align: center;
}

.info li a {
	color: white;
	font-size: 16px;
	text-decoration: none;
}

.info li a:hover {
	color: red;
	text-decoration: underline;
}

.info img {
	width: 25px;
	margin: 0px 8px 0px 0px;
}

.copyright {
	color:  white;
	font-size: 14px;
	margin-top: 20px;
}

@media screen and (max-width:  480px) {
	.caixa {
		width: auto;
	}

	.principal, .conteudo-camadast, .imagem-terra, .video-sistema, .espaco {
		width: auto;
	}

	.planetas {
		width: auto;	
	}

	.planetas h2, .ano-solar, .descricao-planeta {
		font-size: 1em;
	}

	.planetas li {
		width: 46%;
		align-content: center;
		margin: 5px 6px;
	}

	.planetas li:hover h2 {
	font-size: 1.05em;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-camadast, .imagem-camadast {
		width: 85%;
	}

.principal-contato {
	width: 95%;	
}

	form label, form legend {
	font-size: 1.5em;
	margin: 10px 0 10px;
}

	.enviar {
		font-size: 1em;
	}



}
